.img_left {

  width: 100% !important;
  height: 100% !important;

}

.ovierFlue {

  height: 100vh !important;

}

.img_rigth {

  width: 100% !important;
  height: 100% !important;
  position: relative;

}

.title {

  padding-left: 10px !important;
  position: absolute;
  transform: translateY(-100%) !important;


}
